<ion-header>
  <ion-navbar>
    <ion-title text-right>
      <ion-icon name="water"></ion-icon> PediuAgua.com.br</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-divider>
    Confira seu pedido
  </ion-item-divider>

  <ion-list>
    <ion-item>
      <ion-thumbnail item-start>
        <img src={{dadosProdutoEscolhido.imgMarca}}>
      </ion-thumbnail>
      <!-- <h2>água Ibirá</h2> -->
      <p>{{dadosProdutoEscolhido.ph}} • {{dadosProdutoEscolhido.preco}}</p>
    </ion-item>

    <ion-item *ngIf="dados.qtde10 >0">
      <ion-row>
        <ion-col text-center>
          <h2>Galão de 10 litros</h2>
        </ion-col>
      </ion-row>
      <ion-thumbnail>
        <img src="img/galao10.jpg">
      </ion-thumbnail>
      <p item-end>Qtde:
        <b>{{dados.qtde10}}</b>
      </p>
    </ion-item>

    <ion-item *ngIf="dados.qtde20 >0">
      <ion-row>
        <ion-col text-center>
          <h2>Galão de 20 litros</h2>
        </ion-col>
      </ion-row>
      <ion-thumbnail>
        <img src="img/galao20.jpg">
      </ion-thumbnail>
      <p item-end>Qtde:
        <b>{{dados.qtde20}}</b>
      </p>
    </ion-item>

    <ion-item>
      <p>Endereço:</p>
      <p>Rua do Cliente, 555</p>
    </ion-item>

    <ion-item>
        <ion-label>Tornar este pedido como padrão</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="favorito" checked="favorito"></ion-checkbox>
    </ion-item>

  </ion-list>
  <button ion-button round (click)="pedidoConfirmado()" large full>Confirmar Pedido</button>
</ion-content>