page-distribuidores {

    .item ion-thumbnail {
        min-width: 10rem;    
        min-height: 10rem;
        img {
            max-width: 20rem;    
            min-width: 20rem;
        }
    }

}
